<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Introducir restaurante</h1>
	<form action="/restaurantes" method="post">
		<input type="text" name="name"> Nom
		<br>
		<input type="text" name="location"> Direccio
		<br>
		<input type="text" name="pnumber"> Telefon 
		<br>
		<input type="text" name="cp"> Codi Postal
		<br>
		<input type="submit" name="Enviar">
	</form>
</body>
</html>